---
---
{% assign cyber-security = site.posts | where: "category", "cyber-security" | sort: "title" %}

<h2>Cyber Security</h2>

{% for post in site.categories.cyber-security %}
 <li>&nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %} 

<div class="post-categories">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <a href="{{site.baseurl}}/#{{category|slugize}}">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>

{% include listings.html listings=cyber-security %}
