---
faq:
  - question: What is this?
    answer: This is the GitHub pages edition of the Thoth Tech Art Gallery project knowledge base.
  - question: What is this used for?
    answer: This knowledge base is used to store and organize guides, troubleshooting information, and documentation for developers and clientele alike!
  - question: How can this be made more useful?
    answer: This is currently only a template that can be expanded upon. By correctly implementing it and filling it with useful content, this knowledge base could really flourish!
---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>
