---
---

<section class="categories">
	{% assign categories = site.categories | sort %}
	{% for category in categories %}
		{% assign name = category[0] %}
		{% assign posts = category[1] %}
		{% assign size = posts | size %}
		<section class="category">
				<h3>
					<!--
					<a href="{{ site.baseurl }}/category/{{ name | slugify }}/">{{ name | replace: "-", " " }}</a>
					-->
					<a href="{{ site.baseurl }}/{{ name | slugify }}/">{{ name | replace: "-", " " }}</a>
				</h3>

			<ul>
				{% assign tutorials = posts | sort: "title" %}
				{% for tutorial in tutorials limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ tutorial.url }}">{% include document-icon.html icon=tutorial.type %}{{ tutorial.title }}</a></li>
				{% endfor %}
				{% if size > 4 %}
					<!--
					<li><a href="{{ site.baseurl }}/category/{{ name | slugify }}/">{{ size | minus: 4 }} more...</a></li>
					-->
					<li><a href="{{ site.baseurl }}/{{ name | slugify }}/">{{ size | minus: 4 }} more...</a></li>
				{% endif %}
			</ul>
		</section>
	{% endfor %}
	
	<!-- Series posts -->
	{% assign series = "" | split: "," %}
	{% assign series_post = "" | split: "," %}
	{% assign posts = site.posts | where:"Category", cat.title | where: "is_series",true | sort: 'date' %}

	{% for post in posts %}
	{% unless series contains post.series_title %}
	{% assign series = series | push: post.series_title %}
	{% assign series_post = series_post | push: post %}
	{% endunless %}
	{% endfor %}

	{% if series.size > 0 %}
	<div class="row m-1 row-cols-1 row-cols-md-4 g-3 align-items-center">
	 <div class="col">
	 <span class="h3 text-success">Article series →</span>
	 </div>
	    {% for post in series_post %}
		{% include card-link.html url=post.url title=post.series_title %}
	    {% endfor %}
	</div>
	{% endif %}
	{% endfor %}{% endraw %}
	<!-- Series posts end -->
</section>


